<!DOCTYPE html>

<html lang="ru" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default"
      data-assets-path="../../assets/" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>SellerCRM - Регистрация</title>


    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/fonts/boxicons.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/fonts/fontawesome.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/fonts/flag-icons.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/css/rtl/core.css') }}"
          class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/css/rtl/theme-default.css') }}"
          class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/css/demo.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', path='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/libs/typeahead-js/typeahead.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', path='assets/vendor/libs/@form-validation/form-validation.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/css/pages/page-auth.css') }}">

    <script src="{{ url_for('static', path='assets/vendor/js/helpers.js') }}"></script>
    <script src="{{ url_for('static', path='assets/js/config.js') }}"></script>


</head>

<body>


<div class="authentication-wrapper authentication-cover">
    <div class="authentication-inner row m-0">

        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
            <div class="w-100 d-flex justify-content-center">
                <img src="{{ url_for('static', path='assets/img/illustrations/girl-with-laptop-light.png') }}"
                     class="img-fluid" alt="Login image"
                     width="700" data-app-dark-img="illustrations/girl-with-laptop-dark.png"
                     data-app-light-img="illustrations/girl-with-laptop-light.png">

            </div>
        </div>
        <!-- /Left Text -->

        <!-- Register -->
        <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-5 p-4">
            <div class="w-px-400 mx-auto">
                <!-- Logo -->
                <div class="app-brand mb-5">
                    <a href="index.html" class="app-brand-link gap-2">
                        <span class="app-brand-text demo text-body fw-bold">SellersCRM</span>
                    </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-4">Регистрация пользователя </h4>


                <form id="reg">

                    <div class="mb-3">
                        <label for="surname" class="form-label">Фамилия</label>
                        <input type="text" class="form-control" id="surname" name="surname"
                               placeholder="Иванов" autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">Имя</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Иван" autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="fathername" class="form-label">Отчество</label>
                        <input type="text" class="form-control" id="fathername" name="fathername"
                               placeholder="Иванович" autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="org" class="form-label">Наименование организации (ЕГРЮЛ/ЕГРИП)</label>
                        <input type="text" class="form-control" id="org" name="org"
                               placeholder="ИП Иванов" autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="inn" class="form-label">ИНН организации (ЕГРЮЛ/ЕГРИП)</label>
                        <input type="text" class="form-control" id="inn" name="inn"
                               placeholder="012345678910" autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="mail@example.ru">
                    </div>

                    <div class="mb-3">
                        <label for="telnum" class="form-label">Номер телефона</label>
                        <input type="tel" class="form-control" id="telnum" name="telnum"
                               placeholder="79100000000" autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="url" class="form-label">Telegram</label>
                        <input type="text" class="form-control" id="url" name="url"
                               placeholder="@example" autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="ref" class="form-label">Реферальный код</label>
                        <input type="text" class="form-control" id="ref" name="ref"
                               placeholder="XXXXXXXX" autofocus>
                    </div>

                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password1">Пароль</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password1" class="form-control" name="password1"
                                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                   aria-describedby="password"/>
                            <span class="input-group-text cursor-pointer"></span>
                        </div>
                    </div>

                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password2">Повтор пароля</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password2" class="form-control" name="password2"
                                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                   aria-describedby="password"/>
                            <span class="input-group-text cursor-pointer"></span>
                        </div>
                    </div>

                    <div class="mb-3">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="terms-conditions1" name="terms1">
                            <label class="form-check-label" for="terms-conditions1">
                                Я согласен с
                                <a href="javascript:void(0);">условиями использования сервиса</a>
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="terms-conditions2" name="terms2">
                            <label class="form-check-label" for="terms-conditions2">
                                Я даю согласие на
                                <a href="javascript:void(0);">обработку персональных данных</a>
                            </label>
                        </div>

                    </div>
                    <button class="btn btn-primary d-grid w-100" type="submit">
                        Зарегистрироваться
                    </button>
                </form>

                <p class="text-center">
                    <span>Уже зарегистрированы?</span>
                    <a href="/v1/login">
                        <span>Войти</span>
                    </a>
                </p>


            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $('#name').inputmask('****************************************', {placeholder: ''});
        $('#surname').inputmask('****************************************', {placeholder: ''});
        $('#fathername').inputmask('****************************************', {placeholder: ''});
        $('#org').inputmask('********************************************************************************', {placeholder: ''});
        $('#telnum').inputmask('79999999999', {placeholder: ''});
        $('#url').inputmask('@*****************************', {placeholder: ''});
        $('#inn').inputmask('999999999999', {placeholder: ''});
        $('#email').inputmask({ alias: 'email', placeholder: '' });
        $('#ref').inputmask('99999999', {placeholder: ''});

    });

</script>

<script>
    document.getElementById('reg').addEventListener('submit', function (event) {
        event.preventDefault();

        var submitButton = document.querySelector('button[type="submit"]');
        submitButton.classList.add('disabled');

        const url = new URL('http://127.0.0.1:8000/auth/register');
        url.searchParams.append('name', '123');
        url.searchParams.append('surname', '1233');
        url.searchParams.append('fathername', '11111111111111111111111111111111111111111111111111111111111111111111');
        url.searchParams.append('inn', '1233');
        url.searchParams.append('telnum', '1233');
        url.searchParams.append('url', '1233');
        url.searchParams.append('password', '111111111111');


        fetch(url, {
            method: 'POST',
        })
            .then(function (response) {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error(response.statusText);
                }
            })
            .then(function (data) {
                alert(data);
                submitButton.classList.remove('disabled');
            })
            .catch(function (error) {
                alert(error);
                submitButton.classList.remove('disabled');
            });
    });
</script>


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->


</body>

</html>
