{% extends "!base-admin.html" %}
{% block title %}Организации{% endblock %}
{% block css %}

{% endblock %}

{% block js %}
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
<script>

    function updateOrgStatus(org_id, status_id) {

        $.ajax({
            type: "POST",
            url: '/admin/save',
            data: JSON.stringify({organizations: [{id: org_id, status: status_id}]}),
            dataType: "json",
            contentType: "application/json",
            success: function () {
                var msg = 'Данные обновлены'

                if (status_id === 2) {
                    msg = 'Организация активирована'
                }

                if (status_id === 3) {
                    msg = 'Организация деактивирована'
                }

                toastr.success(msg)
                dt_refresh('dt_orgs', '/admin/get/organizations_full')

            },
            error: function () {
                toastr.error('Ошибка обновления данных. Обновите страницу и повторите попытку')

            }
        })
    }

    $.ajax({
        type: "GET",
        url: '/admin/get/organizations_full',
        success: function (data) {
            $('#dt_orgs').DataTable({
                data: data,
                "paging": true,
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "searching": true,
                "ordering": true,

                columns: [
                    {data: 'id'},
                    {data: 'title'},
                    {data: 'inn'},
                    {
                        "data": "owner",
                        "render": function (data, type, row) {

                            return '@' + data.username + ' (' + data.name + ')'
                        }
                    },
                    {
                        "data": "status",
                        "render": function (data, type, row) {

                            var color = 'warning'
                            var txt = 'Ожидает подтверждения'

                            if (data === 2) {
                                color = 'success'
                                txt = 'Активна'
                            }

                            if (data === 3) {
                                color = 'danger'
                                txt = 'Приоставновлена'
                            }

                            return '<span class="badge bg-label-' + color + '">' + txt + '</span>'
                        }
                    },

                    {
                        "data": "status",
                        "render": function (data, type, row) {

                            var edit = '<a href="/admin-edit/organizations/' + row.id + '"><i class="bx bx-edit-alt"></i></a>'

                            if (data === 1) {
                                return edit + '<a href="javascript:updateOrgStatus(' + row.id + ', ' + 2 + ')"><i class="bx bx-check"></i></a>' +
                                    '<a href="javascript:updateOrgStatus(' + row.id + ', ' + 3 + ')"><i class="bx bx-x"></i></a>'
                            }

                            if (data === 2) {
                                return edit + '<a href="javascript:updateOrgStatus(' + row.id + ', ' + 3 + ')"><i class="bx bx-x"></i></a>'
                            }

                            if (data === 3) {
                                return edit + '<a href="javascript:updateOrgStatus(' + row.id + ', ' + 2 + ')"><i class="bx bx-check"></i></a>'
                            }
                        }
                    }
                ],

                "order": [[0, "desc"]]
            });

        },
        error: function () {
            toastr.error('Ошибка обновления данных. Обновите страницу и повторите попытку')

        }
    })

</script>


{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Организации
                        <a href="javascript:dt_refresh('dt_orgs', '/admin/get/organizations_full')"><i class="bx bx-refresh"></i></a>
                    </h5>
                    <small class="card-subtitle" id="prod-cntr"></small>
                </div>
                <div class="card-datatable p-4">
                    <table id="dt_orgs" class="datatables-ajax table table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Название</th>
                            <th>ИНН</th>
                            <th>Владелец</th>
                            <th>Статус</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}