{% extends "!base-admin.html" %}
{% block title %}Заказы | {% endblock %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/flatpickr/flatpickr.css') }}"/>
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/bootstrap-select/bootstrap-select.css') }}"/>
{% endblock %}

{% block js %}

<script src="{{ url_for('static', path='assets/vendor/libs/flatpickr/flatpickr.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendor/libs/bootstrap-select/bootstrap-select.js') }}"></script>
<script>

    var today = new Date();

    var dt_planed = [today, today]
    var dt_ordered = null
    var dt_delivered = null
    var dt_collected = null

    flatpickr("#dt_planed", {
        mode: "range",
        dateFormat: "d.m.Y",
        defaultDate: [today, today],
        onChange: function (selectedDates, dateStr, instance) {
            dt_planed = selectedDates
            if (dt_planed.length === 0) {
                dt_planed = null
            }
        }
    });

    flatpickr("#dt_ordered", {
        mode: "range",
        dateFormat: "d.m.Y",
        onChange: function (selectedDates, dateStr, instance) {
            dt_ordered = selectedDates
            if (dt_ordered.length === 0) {
                dt_ordered = null
            }

        }
    });

    flatpickr("#dt_delivered", {
        mode: "range",
        dateFormat: "d.m.Y",
        onChange: function (selectedDates, dateStr, instance) {
            dt_delivered = selectedDates
            if (dt_delivered.length === 0) {
                dt_delivered = null
            }
        }
    });

    flatpickr("#dt_collected", {
        mode: "range",
        dateFormat: "d.m.Y",
        onChange: function (selectedDates, dateStr, instance) {
            dt_collected = selectedDates
            if (dt_collected.length === 0) {
                dt_collected = null
            }
        }
    });

    var statuses = {
        0: '- Без фильтрации -',
        1: 'Не оплачен',
        2: 'Оплачен',
        3: 'Едет',
        4: 'Готов',
        5: 'Получен',
        6: 'Отменен администратором',
        7: 'Отменен пользователем',
    }

    var statusSelect = $('#status_id');
    for (let key in statuses) {
        var option = $('<option>').text(statuses[key]).val(key);
        statusSelect.append(option);
    }
    statusSelect.selectpicker('draw');


    $.ajax({
        type: "GET",
        url: '/admin/get/orders_full?dt_planed=' + moment(today).format('YYYY-MM-DD'),
        success: function (data) {
            $('#dt_orders').DataTable({
                data: data,
                "paging": true,
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "searching": true,
                "ordering": true,

                columns: [
                    {data: 'id'},
                    {
                        data: 'wb_uuid',
                        render: function (data, type, row) {
                            return data === null ? '—' : '<span class="text-nowrap">' + data + '</span>'
                        }
                    },
                    {
                        data: 'size',
                        render: function (data, type, row) {
                            return '<span class="text-nowrap">' + data.product.wb_article + '</span>'
                        }
                    },
                    {
                        data: 'size',
                        render: function (data, type, row) {
                            var s1 = data.wb_size_name === null ? '' : data.wb_size_name
                            var s2 = data.wb_size_origName === null ? '' : data.wb_size_origName

                            var s = ''
                            if (s1 !== null) {
                                s += s1
                            }

                            if (s2 !== null) {
                                if (s !== '') {
                                    s += ' (' + s2 + ')'
                                } else {
                                    s += s2
                                }
                            }

                            return '<span class="text-nowrap">' + s2 + '</span>'
                        }
                    },
                    {
                        render: function (data, type, row) {

                            var color = ''

                            if (row.size.product.organization.is_competitor) {
                                color = 'text-dark'
                            }

                            return '<span class="text-nowrap ' + color + '">' + row.size.product.organization.title + ' (' + row.size.product.organization.inn + ')' + '</span>'
                        }
                    },
                    {
                        data: 'status',
                        render: function (data, type, row) {
                            var status = 5
                            var title = 'Не опознан'


                            if (row.status === 1) {
                                status = 3
                                title = 'Не оплачен'
                            }

                            if (row.status === 2) {
                                status = 2
                                title = 'Оплачен'
                            }

                            if (row.status === 3) {
                                status = 1
                                title = 'Едет'
                            }

                            if (row.status === 4) {
                                status = 1
                                title = 'Готов'
                            }

                            if (row.status === 5) {
                                status = 1
                                title = 'Получен'
                            }

                            if (row.status === 6) {
                                status = 4
                                title = 'Отменен (А)'
                            }

                            if (row.status === 7) {
                                status = 4
                                title = 'Отменен (П)'
                            }


                            var statuses = {
                                1: 'success',
                                2: 'warning',
                                3: 'info',
                                4: 'danger',
                                5: 'secondary',
                            }

                            return '<span class="badge bg-label-' + statuses[status] + '">' + title + '</span>'

                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return row.wb_status === null ? '—' : '<span class="text-nowrap">' + row.wb_status + '</span>'
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return row.wb_price === null ? '—' : row.wb_price
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return row.dt_planed === null ? '—' : moment(row.dt_planed).format('DD.MM.YYYY')
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return row.dt_ordered === null ? '—' : moment(row.dt_ordered).format('DD.MM.YYYY')
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return row.dt_delivered === null ? '—' : moment(row.dt_delivered).format('DD.MM.YYYY')
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return row.dt_collected === null ? '—' : moment(row.dt_collected).format('DD.MM.YYYY')
                        }
                    },
                    {
                        data: 'wb_collect_code',
                        render: function (data, type, row) {
                            return data === null ? '—' : '<span class="text-nowrap">' + data + '</span>'
                        }
                    },
                    {
                        data: 'description',
                        render: function (data, type, row) {
                            return data === null ? '—' : '<span class="text-nowrap">' + data + '</span>'
                        }
                    },


                    {
                        data: 'account',
                        render: function (data, type, row) {
                            return data === null ? '—' : data.number
                        }
                    },
                    {
                        data: 'account',
                        "render": function (data, type, row) {
                            if (data !== null) {
                                var st = 'danger'

                                if (data.address.is_active === true) {
                                    st = 'success'
                                }

                                return '<div class="text-nowrap"><span class="badge badge-dot bg-' + st + ' me-1"></span><span class="text-nowrap">' + data.address.address + '</span></div>'
                            }

                            return '—'
                        }
                    },

                    {
                        data: 'account',
                        "render": function (data, type, row) {
                            if (data !== null) {
                                return data.address.contractor.name
                            }

                            return '—'
                        }
                    },


                    {
                        "render": function (data, type, row) {
                            var edit = '<a href="/admin-edit/orders/' + row['id'] + '"><i class="bx bx-edit-alt"></i></a>'

                            if (row.is_active === true) {
                                edit += '<a href="javascript:updateAccountStatus(' + row['id'] + ', false)"><i class="bx bx-block"></i></a>'
                            }

                            if (row.is_active === false) {
                                edit += '<a href="javascript:updateAccountStatus(' + row['id'] + ', true)"><i class="bx bx-check"></i></a>'
                            }
                            return edit
                        }
                    }
                ],

                "order": [[0, "desc"]],

                "initComplete": function () {

                    var table = this.api().table().header();
                    var newRow = $('<tr></tr>');
                    $(table).append(newRow);

                    var searchColumns = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16];

                    this.api().columns().every(function (i) {
                        var column = this;
                        if (searchColumns.includes(i)) {

                            var input = $('<input type="text" class="form-control" placeholder="" />');
                            $(newRow).append($('<th></th>').append(input));

                            input.on('keyup change clear', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                        } else {
                            $(newRow).append($('<th></th>'))

                        }
                    });
                },

            });
            document.getElementById('ords_ldr').style.display = 'none'

        },
        error: function () {
            toastr.error('Ошибка получения аккаунтов')
            document.getElementById('ords_ldr').style.display = 'none'

        }
    })

    function updateAccountStatus(id, is_active) {
        $.ajax({
            type: "POST",
            url: '/admin/save',
            data: JSON.stringify({accounts: [{id: id, is_active: is_active}]}),
            contentType: "application/json; charset=utf-8",
            success: function () {
                var msg = 'Данные пользователя обновлены'

                if (is_active === true) {
                    msg = 'Аккаунт активирован'
                }

                if (is_active === false) {
                    msg = 'Акакунт деактивирован'
                }

                toastr.success(msg)
                dt_refresh('dt_accounts', '/admin/get/accounts')

            },
            error: function () {
                toastr.error('Ошибка обновления данных. Обновите страницу и повторите попытку')

            }
        })
    }

    function search() {
        var payload = new FormData();

        if (dt_planed !== null) {
            payload.append('dt_planed_start', moment(dt_planed[0]).format('YYYY-MM-DD'));
            payload.append('dt_planed_end', moment(dt_planed[1]).format('YYYY-MM-DD'));
        }

        if (dt_ordered !== null) {
            payload.append('dt_ordered_start', moment(dt_ordered[0]).format('YYYY-MM-DD'));
            payload.append('dt_ordered_end', moment(dt_ordered[1]).format('YYYY-MM-DD'));
        }

        if (dt_delivered !== null) {
            payload.append('dt_delivered_start', moment(dt_delivered[0]).format('YYYY-MM-DD'));
            payload.append('dt_delivered_end', moment(dt_delivered[1]).format('YYYY-MM-DD'));
        }

        if (dt_collected !== null) {
            payload.append('dt_collected_start', moment(dt_collected[0]).format('YYYY-MM-DD'));
            payload.append('dt_collected_end', moment(dt_collected[1]).format('YYYY-MM-DD'));
        }

        var status_id = document.getElementById('status_id').value;

        if (status_id != 0) {
            payload.append('status_id', status_id);
        }


        var elements = [
            {id: 'inn', name: 'inn'},
            {id: 'wb_article', name: 'wb_article'},
            {id: 'wb_size_origName', name: 'wb_size_origName'},
            {id: 'wb_price', name: 'wb_price'},
            {id: 'order_id', name: 'order_id'},
            {id: 'wb_uuid', name: 'wb_uuid'},
            {id: 'wb_status', name: 'wb_status'},
            {id: 'account_id', name: 'account_id'},
            {id: 'address_id', name: 'address_id'},
            {id: 'wb_collect_code', name: 'wb_collect_code'},
            {id: 'contractor_id', name: 'contractor_id'}
        ];

        elements.forEach(function (element) {
            var inputElement = document.getElementById(element.id);
            if (inputElement && inputElement.value !== '') {
                payload.append(element.name, inputElement.value);
            }
        });

        document.getElementById('admin_ldr').style.display = 'block'
        $.ajax({
            type: "post",
            url: '/admin/getFilteredOrders',
            contentType: false,
            processData: false,
            data: payload,
            success: function (data) {
                console.log(data.length)
                var table = $('#dt_orders').DataTable()
                table.clear()
                table.draw()
                table.rows.add(data).draw();
                document.getElementById('admin_ldr').style.display = 'none'
            },
            error: function (data) {
                toastr.error('Ошибка получения данных')
                toastr.error(data.responseJSON.detail)
            }

        })
    }


</script>
{% endblock %}

{% block content %}
<div class="flex-grow-1">


    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Фильтрация</h5>
                    <small></small>
                </div>
                <div class="card-body">

                    <div class="divider text-start mb-0 mt-0">
                        <div class="divider-text">Даты</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="dt_planed" class="form-label">Дата планирования</label>
                            <input type="text" class="form-control" placeholder="" id="dt_planed"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_ordered" class="form-label">Дата заказа</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="dt_ordered"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Дата доставки</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="dt_delivered"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_collected" class="form-label">Дата получения</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="dt_collected"/>
                        </div>
                    </div>


                    <div class="divider text-start mb-0 mt-1">
                        <div class="divider-text">Товары</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="dt_planed" class="form-label">ИНН</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="inn"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_ordered" class="form-label">Артикул</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="wb_article"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Размер</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="wb_size_origName"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Цена</label>
                            <input type="text" class="form-control" placeholder="XXXXX-YYYYY" id="wb_price"/>
                        </div>

                    </div>

                    <div class="divider text-start mb-0">
                        <div class="divider-text">Системные</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="dt_planed" class="form-label">ID</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="order_id"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_ordered" class="form-label">UUID</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="wb_uuid"/>
                        </div>

                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Статус</label>
                            <select id="status_id" class="form-control selectpicker" data-live-search="true"></select>
                        </div>

                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Статус WB</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="wb_status"/>
                        </div>

                    </div>


                    <div class="divider text-start mb-0">
                        <div class="divider-text">Логистика</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Аккаунт</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="account_id"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Адрес</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="address_id"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Код получения</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="wb_collect_code"/>
                        </div>
                        <div class="col-3">
                            <label for="dt_delivered" class="form-label">Подрядчик</label>
                            <input type="text" class="form-control" placeholder="Без фильтрации" id="contractor_id"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" onclick="search()">Поиск</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Заказы
                        <span class="spinner-border spinner-border-sm text-primary" role="status"
                              id="ords_ldr"></span>
                    </h5>
                    <small class="card-subtitle" id="prod-cntr"></small>
                </div>
                <div class="card-body table-responsive">
                    <table id="dt_orders" class="datatables-ajax table table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>UUID</th>
                            <th>Артикул</th>
                            <th>Размер</th>
                            <th>Организация</th>
                            <th>Статус</th>
                            <th>Статус WB</th>
                            <th>Сумма</th>
                            <th>Дата планирования</th>
                            <th>Дата заказа</th>
                            <th>Дата доставки</th>
                            <th>Дата получения</th>
                            <th>Код получения</th>
                            <th>Описание</th>
                            <th>Аккаунт</th>
                            <th>Адрес</th>
                            <th>Подрядчик</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}