{% extends "!base-admin.html" %}
{% block title %}Пользователи{% endblock %}
{% block css %}

{% endblock %}

{% block js %}
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
<script>

    const TITLES = {
        'User': 'Пользователи',
        'Organization': 'Организации',
        'OrdersAccount': 'Аккаунты',
        'OrdersOrder': 'Заказы',
        'OrdersAddress': 'Адреса',
        'OrdersContractor': 'Подрядчики',
        'UserSession': 'Сессии пользователей',
        'OrganizationInvitation': 'Приглашения'

    }

    const UEF = [
        'password',
        'token'
    ]

    var arr = window.location.href.split('/')
    var table = arr[arr.length - 1]
    var thead = ''
    var tbody = ''
    var c_title = document.getElementById('card-title')

    c_title.innerHTML = (TITLES[table] ? TITLES[table] : table) + c_title.innerHTML

    function get_value(field, value) {

        if (field === 'id') {
            return '#' + value
        }

        if (field === null) {
            return '—'
        }

        if (field === true) {
            return 'Да'
        }

        if (field === false) {
            return 'Нет'
        }

        return value
    }

    $.ajax({
        type: "GET",
        url: '/admin/get/' + table,
        dataType: "json",

        success: function (data) {

            $.ajax({
                type: "GET",
                url: '/admin/fields/' + table,
                dataType: "json",
                success: function (fields) {

                    document.getElementById('create-href').setAttribute('href',  '/admin-create/' + table)

                    for (var field in fields) {

                        if (UEF.includes(field)) {
                            continue
                        }

                        thead += '<th>' + (FT.hasOwnProperty(field) ? FT[field] : field) + '</th>'
                    }
                    thead += '<th>Действия</th>'

                    for (var i in data) {
                        var trow = ''
                        for (field in fields) {

                            if (UEF.includes(field)) {
                                continue
                            }

                            var cell = get_value(field, data[i][field])

                            if (fields[field] === 'DATETIME') {
                                cell = moment(cell).format('DD.MM.YYYY HH:mm')
                            }

                            trow += '<td>' + cell + '</td>'
                        }
                        trow += '<td><a href="/admin-edit/User/' + data[i].id + '"><i class="bx bx-edit-alt"></i></a></td>'

                        tbody += '<tr>' + trow + '</tr>'

                    }

                    document.getElementById('datatable').innerHTML = '<thead><tr>' + thead + '</tr></thead>' + '<tbody>' + tbody + '</tbody>'
                    $('#datatable').DataTable({})

                },
                error: function () {
                    toastr.error('Ошибка получения данных')

                }
            })
        },

        error: function () {
            toastr.error('Ошибка получения данных')

        }
    })


    function exportToXLSX() {
        var table = $('#datatable').DataTable();
        var data = table.data().toArray();
        var ws = XLSX.utils.json_to_sheet(data);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
        var wbout = XLSX.write(wb, {bookType: 'xlsx', type: 'array'});
        saveAs(new Blob([wbout], {type: "application/octet-stream"}), "data.xlsx");
    }

    function refresh() {

    }

</script>

{% endblock %}


{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">

        <div class="col">
            <div class="card">

                <div class="card-header">
                    <h5 class="card-title mb-0" id="card-title">
                        <a href="javascript:" onclick="exportToXLSX()"><i class="bx bx-download"></i></a>
                        <a href="javascript:" id="rb" onclick="refresh()"><i class="bx bx-refresh"></i></a>
                        <a href="" id="create-href"><i class="bx bx-plus"></i></a>
                    </h5>
                    <small class="card-subtitle" id="card-subtitle"></small>
                </div>

                <div class="card-datatable p-4">
                    <table id="datatable" class="datatables-ajax table table-bordered dataTable no-footer"></table>
                </div>

            </div>
        </div>

    </div>

</div>
{% endblock %}