{% extends "!base.html" %}
{% block title %}Настройки{% endblock %}

{% block head %}


<link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/libs/typeahead-js/typeahead.css') }}"/>
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/apex-charts/apex-charts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='assets/vendor/css/pages/card-analytics.css') }}"/>

{% endblock %}


{% block js %}
<script src="{{ url_for('static', path='assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/app-ecommerce-dashboard.js') }}"></script>
<script>

    $(document).ready(function () {

        const url = window.location.href;
        var arr = url.split('/')
        var id = arr[arr.length - 1]

        var test = [
            {
                "Name": "Alice",
                "Email": "alice@example.com",
                "Post": "Developer",
                "City": "New York",
                "Date": "2022-01-01",
                "Salary": 60000
            },
            {
                "Name": "Bob",
                "Email": "bob@example.com",
                "Post": "Designer",
                "City": "Los Angeles",
                "Date": "2022-01-05",
                "Salary": 55000
            },
            {
                "Name": "Charlie",
                "Email": "charlie@example.com",
                "Post": "Manager",
                "City": "Chicago",
                "Date": "2022-01-10",
                "Salary": 70000
            },
            {
                "Name": "David",
                "Email": "david@example.com",
                "Post": "Analyst",
                "City": "San Francisco",
                "Date": "2022-01-15",
                "Salary": 65000
            }
        ]


        $('.dt-column-search').DataTable({
            data: test,
            columns: [
                {data: 'Name'},
                {data: 'Email'},
                {data: 'Post'},
                {data: 'City'},
                {data: 'Date'},
                {data: 'Salary'}
            ]
        });


        $.ajax({

            url: '/auth/getSelfProfile',
            method: 'get',

            success: function (data) {
                document.getElementById('nav-name').innerText = data.name
                document.getElementById('nav-username').innerText = data.username

            },

        });

        $.ajax({

            url: '/orgs/getOrg/' + id,
            method: 'get',

            success: function (data) {
                console.log(data)

            },

        });

    });

</script>

</script>

{% endblock %}


{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">


    <div class="row">

        <div class="col-md-12 col-lg-4">

            <div class="row">

                <div class="col-lg-6 col-md-3 col-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body pb-0">
                            <span class="d-block fw-medium">Недельная активность</span>
                        </div>
                        <div id="expensesChart" class="mb-2"></div>
                        <div class="p-3 pt-2">
                            <small class="text-muted d-block text-center">На прошлой неделе вы достигли 55%</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-3 col-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <span class="d-block fw-medium">Выкуп с 25.03</span>


                            <h3 class="card-title mb-2 text-success">180₽</h3>
                            <del class="card-title mb-2">200₽</del>
                            <span class="badge bg-label-info mb-3">-10%</span>
                            <small class="text-muted d-block">Уровень 1</small>
                            <div class="d-flex align-items-center">
                                <div class="progress w-75 me-2" style="height: 8px;">
                                    <div class="progress-bar bg-info" style="width: 10%"
                                         role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>10%</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-3 col-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="{{ url_for('static', path='assets/img/icons/unicons/cc-warning.png') }}"
                                         alt="Credit Card" class="rounded">
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="cardOpt5"
                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end"
                                         aria-labelledby="cardOpt5">
                                        <a class="dropdown-item" href="javascript:void(0);">View
                                            More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="d-block mb-1">Revenue</span>
                            <h3 class="card-title text-nowrap mb-2">$42,389</h3>
                            <small class="text-success fw-medium"><i class='bx bx-up-arrow-alt'></i>
                                +52.18%</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-3 col-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="{{ url_for('static', path='assets/img/icons/unicons/cc-warning.png') }}"
                                         alt="Credit Card" class="rounded">
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0" type="button" id="cardOpt1"
                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end"
                                         aria-labelledby="cardOpt1">
                                        <a class="dropdown-item" href="javascript:void(0);">View
                                            More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="d-block">Transactions</span>
                            <h4 class="card-title mb-1">$14,857</h4>
                            <small class="text-success fw-medium"><i class='bx bx-up-arrow-alt'></i>
                                +28.14%</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 col-lg-8 mb-4">
            <div class="card h-100">
                <div class="row row-bordered g-0">
                    <div class="col-md-8">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Отчет за неделю</h5>
                            <small class="card-subtitle">График состояния кошелька</small>
                        </div>
                        <div class="card-body">
                            <div id="totalIncomeChart"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-header d-flex justify-content-between">
                            <div>
                                <h5 class="card-title mb-0">Кошелек</h5>
                                <small class="card-subtitle">24.03.24 12:20</small>
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="totalIncome"
                                        data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end"
                                     aria-labelledby="totalIncome">
                                    <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="report-list">
                                <div class="report-list-item rounded-2 mb-3">
                                    <div class="d-flex align-items-start">
                                        <div class="report-list-icon shadow-sm me-2">
                                            <img src="{{ url_for('static', path='assets/img/icons/unicons/wallet-info.png') }}"
                                                 width="22"
                                                 height="22" alt="Paypal">
                                        </div>
                                        <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                            <div class="d-flex flex-column">
                                                <span>Всего</span>
                                                <h5 class="mb-0">10 000 000 ₽</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="report-list-item rounded-2 mb-3">
                                    <div class="d-flex align-items-start">
                                        <div class="report-list-icon shadow-sm me-2">
                                            <img src="{{ url_for('static', path='assets/img/icons/unicons/wallet.png') }}"
                                                 width="22" height="22" alt="Shopping Bag">
                                        </div>
                                        <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                            <div class="d-flex flex-column">
                                                <span>Заморожено</span>
                                                <h5 class="mb-0 text-warning">1 200 000 ₽</h5>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="report-list-item rounded-2">
                                    <div class="d-flex align-items-start">
                                        <div class="report-list-icon shadow-sm me-2">
                                            <img src="{{ url_for('static', path='assets/img/icons/unicons/cc-success.png') }}"
                                                 width="22"
                                                 height="22" alt="Wallet">
                                        </div>
                                        <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                            <div class="d-flex flex-column">
                                                <span>Свободные</span>
                                                <h5 class="mb-0 text-success">10 000 000 ₽</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Total Income -->
        </div>

    </div>


    <div class="row">

        <div class="col-md-12 col-lg-4">
            <div class="row">

                <div class="col-12 col-md-6 col-lg-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between gap-3">
                                <div class="d-flex align-items-start flex-column justify-content-between">
                                    <div class="card-title">
                                        <h5 class="mb-0">Expenses</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="mt-auto">
                                            <h3 class="mb-2">$84.7k</h3>
                                            <small class="text-danger text-nowrap fw-medium"><i
                                                    class='bx bx-down-arrow-alt'></i> 8.2%</small>
                                        </div>
                                    </div>
                                    <span class="badge bg-label-secondary rounded-pill">2021 Year</span>
                                </div>
                                <div id="expensesBarChart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-8 mb-4 mb-md-0">
            <div class="card">
                <div class="table-responsive text-nowrap">
                    <table class="table text-nowrap">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Payment</th>
                            <th>Order Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/img/products/oneplus-lg.png" alt="Oneplus"
                                         height="32" width="32" class="me-2">
                                    <div class="d-flex flex-column">
                                        <span class="fw-medium lh-1">OnePlus 7Pro</span>
                                        <small class="text-muted">OnePlus</small>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge bg-label-primary rounded-pill badge-center p-3 me-2"><i
                                    class="bx bx-mobile-alt bx-xs"></i></span> Smart Phone
                            </td>
                            <td>
                                <div class="text-muted lh-1"><span
                                        class="text-primary fw-medium">$120</span>/499
                                </div>
                                <small class="text-muted">Partially Paid</small>
                            </td>
                            <td><span class="badge bg-label-primary">Confirmed</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown"><i
                                            class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-edit-alt me-1"></i> View Details</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/img/products/magic-mouse.png" alt="Apple"
                                         height="32" width="32" class="me-2">
                                    <div class="d-flex flex-column">
                                        <span class="fw-medium lh-1">Magic Mouse</span>
                                        <small class="text-muted">Apple</small>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge bg-label-warning rounded-pill badge-center p-3 me-2"><i
                                    class="bx bx-mouse bx-xs"></i></span> Mouse
                            </td>
                            <td>
                                <div class="lh-1"><span class="text-primary fw-medium">$149</span></div>
                                <small class="text-muted">Fully Paid</small>
                            </td>
                            <td><span class="badge bg-label-success">Completed</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown"><i
                                            class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-edit-alt me-1"></i> View Details</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/img/products/imac-pro.png" alt="Apple"
                                         height="32" width="32" class="me-2">
                                    <div class="d-flex flex-column">
                                        <span class="fw-medium lh-1">iMac Pro</span>
                                        <small class="text-muted">Apple</small>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge bg-label-info rounded-pill badge-center p-3 me-2"><i
                                    class="bx bx-desktop bx-xs"></i></span> Computer
                            </td>
                            <td>
                                <div class="text-muted lh-1"><span
                                        class="text-primary fw-medium">$0</span>/899
                                </div>
                                <small class="text-muted">Unpaid</small>
                            </td>
                            <td><span class="badge bg-label-danger">Cancelled</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown"><i
                                            class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-edit-alt me-1"></i> View Details</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/img/products/note10.png" alt="Samsung"
                                         height="32" width="32" class="me-2">
                                    <div class="d-flex flex-column">
                                        <span class="fw-medium lh-1">Note 10</span>
                                        <small class="text-muted">Samsung</small>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge bg-label-primary rounded-pill badge-center p-3 me-2"><i
                                    class="bx bx-mobile-alt bx-xs"></i></span> Smart Phone
                            </td>
                            <td>
                                <div class="lh-1"><span class="text-primary fw-medium">$149</span></div>
                                <small class="text-muted">Fully Paid</small>
                            </td>
                            <td><span class="badge bg-label-success">Completed</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown"><i
                                            class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-edit-alt me-1"></i> View Details</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/img/products/iphone.png" alt="Apple"
                                         height="32" width="32" class="me-2">
                                    <div class="d-flex flex-column">
                                        <span class="fw-medium lh-1">iPhone 11 Pro</span>
                                        <small class="text-muted">Apple</small>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge bg-label-primary rounded-pill badge-center p-3 me-2"><i
                                    class="bx bx-mobile-alt bx-xs"></i></span> Smart Phone
                            </td>
                            <td>
                                <div class="lh-1"><span class="text-primary fw-medium">$399</span></div>
                                <small class="text-muted">Fully Paid</small>
                            </td>
                            <td><span class="badge bg-label-success">Completed</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown"><i
                                            class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-edit-alt me-1"></i> View Details</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/img/products/mi-tv.png" alt="Xiaomi"
                                         height="32" width="32" class="me-2">
                                    <div class="d-flex flex-column">
                                        <span class="fw-medium lh-1">Mi LED TV 4X</span>
                                        <small class="text-muted">Xiaomi</small>
                                    </div>
                                </div>
                            </td>
                            <td><span
                                    class="badge bg-label-danger rounded-pill badge-center p-3 me-2"><i
                                    class="bx bx-tv bx-xs"></i></span> Smart TV
                            </td>
                            <td>
                                <div class="text-muted lh-1"><span
                                        class="text-primary fw-medium">$349</span>/2499
                                </div>
                                <small class="text-muted">Partially Paid</small>
                            </td>
                            <td><span class="badge bg-label-primary">Confirmed</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown"><i
                                            class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-edit-alt me-1"></i> View Details</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/img/products/logitech-mx.png" alt="Logitech"
                                         height="32" width="32" class="me-2">
                                    <div class="d-flex flex-column">
                                        <span class="fw-medium lh-1">Logitech MX</span>
                                        <small class="text-muted">Logitech</small>
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge bg-label-warning rounded-pill badge-center p-3 me-2"><i
                                    class="bx bx-mouse bx-xs"></i></span> Mouse
                            </td>
                            <td>
                                <div class="lh-1"><span class="text-primary fw-medium">$89</span></div>
                                <small class="text-muted">Fully Paid</small>
                            </td>
                            <td><span class="badge bg-label-primary">Completed</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown"><i
                                            class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-edit-alt me-1"></i> View Details</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Total Balance -->

        <!--/ Total Balance -->
    </div>
</div>

{% endblock %}