{% extends "!base.html" %}
{% block title %}Отзывы{% endblock %}

{% block head %}


<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/typeahead-js/typeahead.css') }}"/>
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/apex-charts/apex-charts.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/css/pages/card-analytics.css') }}"/>
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/bootstrap-select/bootstrap-select.css') }}"/>

{% endblock %}


{% block js %}
<script src="{{ url_for('static', path='assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/app-ecommerce-dashboard.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendor/libs/bootstrap-select/bootstrap-select.js') }}"></script>

<!-- GET AND DISABLE REVIEWS -->
<script>

    function disableReview(id) {
        if (confirm('Подтвердите отмену публикации отзыва #' + id)) {

            $.ajax({

                url: '/reviews/disable?review_id=' + id,
                method: 'get',

                success: function (data) {
                    location.reload()
                    toastr.success('Публикация отменена')

                },
                error: function (data) {
                    console.log(data)
                    toastr.error('Ошибка выполнения операции. ' + data.responseJSON.detail)
                }
            })
        }
    }


    $(document).ready(function () {

        const url = window.location.href;

        var arr = url.split('/')
        var id = arr[arr.length - 1]

        $.ajax({

            url: '/reviews/getOwned?org_id=' + id,
            method: 'get',

            success: function (data) {

                if (data.length !== 0) {
                    $('#review-list').show();
                }

                $.each(data, function (index, item) {
                    var pichref = '/storage/get/4m0Tqv66dBUakFPu.png'
                    var size = ''
                    var ext_url = 'https://www.wildberries.ru/catalog/' + item.product.wb_article + '/detail.aspx'
                    var prod_title = item.product.wb_title


                    if (item.size != null) {
                        var ws = item.size.wb_size_name

                        if (item.match == null) {
                            var ws2 = 'Не указывать'

                        } else {
                            var ws2 = item.match.title
                        }

                    } else {
                        var ws = 'Не указывать'
                        var ws2 = '—'
                    }

                    var actionlist = ''

                    var status = item.statuses[item.statuses.length - 1].status.title

                    var status_color = 'warning'


                    if (item.statuses[item.statuses.length - 1].status.id === 3) {
                        status_color = 'success'
                    }

                    if (item.statuses[item.statuses.length - 1].status.id === 4) {
                        status_color = 'danger'
                    }

                    if (item.statuses[item.statuses.length - 1].status.id === 1) {
                        status_color = 'info'
                        actionlist = actionlist + '                                <div class="d-inline-block text-nowrap">\n' +
                        '                                    <a href="##" onclick="disableReview(' + item.id + ')" class="btn btn-sm btn-icon">\n' +
                        '                                    <i class="bx bx-x"></i></a>\n' +
                        '                                </div>\n'
                    }


                    var media_list = '<td>—</td>'

                    if (item.media.length !== 0) {

                        media_list = ''
                        $.each(item.media, function (i, pic) {

                            if (pic.media.type == 'mov') {
                                media_list = media_list + '<a href="##" data-bs-toggle="modal" data-bs-target="#modalToggle-' + item.id + '">' +
                                    '<div class="avatar-wrapper">' +
                                    '<div class="avatar me-2 rounded-2 bg-label-secondary">' +
                                    '<i class="bx bx-play"></i>' +
                                    '</div></div></a>' + '<div class="modal fade" id="modalToggle-' + item.id + '" aria-labelledby="modalToggleLabel-' + item.id + '" tabindex="-1" style="display: none;"\n' +
                                    '         aria-hidden="true">\n' +
                                    '        <div class="modal-dialog modal-dialog-centered">\n' +
                                    '            <div class="modal-content">\n' +
                                    '                <div class="modal-header">\n' +
                                    '                    <h5 class="modal-title" id="modalToggleLabel-' + item.id + '">' + 'Видео' + '</h5>\n' +
                                    '                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>\n' +
                                    '                </div>\n' +
                                    '                <div class="modal-body"><video controls width="100%">\n' +
                                    '  <source src="" />\n' +
                                    '\n' +
                                    '  <source src="/storage/get/' + pic.media.storage_href + '" class="rounded-2" />\n' +

                                    '</video></div>' +
                                    '\n' +
                                    '            </div>\n' +
                                    '        </div>\n' +
                                    '    </div>'

                            } else {
                                media_list = media_list + '' +
                                    '<div class="avatar-wrapper">' +
                                    '<div class="avatar me-2 rounded-2 bg-label-secondary">' +
                                    '<img src="/storage/get/' + pic.media.storage_href + '" class="rounded-2">' +
                                    '</div>\<' +
                                    '/div>'
                            }


                        })

                        media_list = '<td><div class="d-flex justify-content-start align-items-center customer-name">' + media_list + '</div></td>'
                    }

                    if (prod_title.length >= 15) {
                        prod_title = prod_title.slice(0, 15) + '...'
                    }

                    if (item.product.media !== null) {
                        pichref = '/storage/get/' + item.product.media.storage_href
                    }

                    if (item.size != null) {

                        ext_url = 'https://www.wildberries.ru/catalog/' + item.product.wb_article + '/detail.aspx?size=' + item.size.wb_size_optionId
                    }

                    if (item.text != null) {

                        var revtext = item.text
                    } else {
                        var revtext = '—'
                    }






                    var row = '<tr>\n' +
                        '                            <td>' + item.id + '</td>\n' +
                        '\n' +
                        '                            <td class="sorting_1">\n' +
                        '                                <div class="d-flex justify-content-start align-items-center customer-name">\n' +
                        '                                    <div class="avatar-wrapper">\n' +
                        '                                        <div class="avatar me-2 rounded-2 bg-label-secondary">\n' +
                        '                                            <img src="' + pichref + '"\n' +
                        '                                                 alt="Product-9" class="rounded-2">\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="d-flex flex-column">\n' +
                        '                                        <a target="_blank" href="' + ext_url + '"><span class="fw-medium text-nowrap">' + prod_title + '</span></a>\n' +
                        '                                        <small class="text-muted text-nowrap">' + item.product.wb_article + ' </small>\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                            </td>\n' +
                        '\n' +
                        '                            <td>\n' +
                        '                                <div>\n' +
                        '                                    <small class="text-break pe-3">' + revtext + '</small>\n' +
                        '                                </div>\n' +
                        '                            </td>\n' +
                        '                            <td><span class="text-nowrap">' + ws + '</span></td><td><span class="text-nowrap">' + ws2 + '</span></td>\n' + media_list +

                        '                            <td>\n' +
                        '                                <span class="badge bg-label-' + status_color + '" text-capitalized="">' + status + '</span>\n' +
                        '                            </td>\n' +
                        '                            <td>'+ actionlist +'</td>\n' +
                        '                        </tr>'

                    $('#review-list tbody').append(row);


                });
                document.getElementById('prod-cntr').innerText = 'Всего: ' + data.length
                document.getElementById('loading-prods').style.display = 'none';
            },
            error: function () {

                toastr.error('Ошибка загрузки списка товаров')
                document.getElementById('loading-prods').style.display = 'none';
            }

        });


    });

</script>


<!-- CREATE REVIEW -->
<script>
    document.getElementById('create-review-form').addEventListener('submit', function (event) {

        event.preventDefault();

        var formData = new FormData(this);

        var submitButton = document.querySelector('button[type="submit"]');
        submitButton.classList.add('disabled');

        const currentDomain = window.location.origin;
        const url = new URL('/reviews/create', currentDomain);

        const text = document.getElementById('rev-text');

        var prodselect = document.getElementById('prod-id')
        var prodid = prodselect.options[prodselect.selectedIndex].value

        var sizeselect = document.getElementById('size-id')
        var sizeid = sizeselect.options[sizeselect.selectedIndex].value

        if (sizeid != 0) {
            url.searchParams.append('size_id', sizeid);
        }

        var radioButtons = document.querySelectorAll('input[name="default-radio-1"]');

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {

                var mtchid = radioButtons[i].value;
                break;
            }
        }

        if (mtchid != 0) {
            url.searchParams.append('match_id', mtchid);
        }

        var txt = text.value
        if (txt != '') {
            url.searchParams.append('text', txt);
        }


        url.searchParams.append('product_id', prodid);


        submitButton.classList.remove('disabled');

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,

            success: function (data) {
                location.reload()
            },

            error: function (data) {
                toastr.error(data.responseJSON.detail)
                submitButton.classList.remove('disabled');
            }
        });

    });
</script>


<!-- GET PRODS FOR SELECT IN FORM -->
<script>

    var prods = []

    // Функция для добавления опций второго выпадающего списка
    function addOptionsToSelect2(pri) {
        var optionsArr = [];

        for (var i = 0; i < prods.length; i++) {
            if (prods[i].id == pri) {
                optionsArr = prods[i]['sizes'];
                break;
            }
        }

        $("#size-id").selectpicker('destroy');
        $("#size-id").empty();
        $("#size-id").selectpicker("refresh");

        $("#size-id").append($('<option>').text('Без указания').val(0));

        for (var j = 0; j < optionsArr.length; j++) {

            if (optionsArr[j].wb_size_name !== null) {
                var op_txt = optionsArr[j].wb_size_name;
                var op_val = optionsArr[j].id;
                var op_sub = optionsArr[j].wb_size_origName;

                var sizeOP = $('<option>').text(op_txt).attr('data-subtext', op_sub).val(op_val);

                $("#size-id").append(sizeOP);
            }
        }

        $("#size-id").selectpicker('refresh');
    }


    $(document).ready(function () {

        const url = window.location.href;

        var arr = url.split('/')
        var id = arr[arr.length - 1]

        $.ajax({

            url: '/products/getOwned?org_id=' + id,
            method: 'get',

            success: function (data) {
                var selectElement = $('#prod-id');

                prods = data

                $.each(data, function (index, item) {

                    var prod_title = item.wb_title

                    if (prod_title.length >= 25) {
                        prod_title = prod_title.slice(0, 25) + '...'
                    }

                    var optionText = prod_title
                    var optionValue = item.id
                    var optionDataSubtext = item.wb_article


                    var option = $('<option>').text(optionText).attr('data-subtext', optionDataSubtext).val(optionValue);
                    selectElement.append(option);

                    if (index === 0) {
                        addOptionsToSelect2(item.id);
                    }

                });

                selectElement.selectpicker('refresh');

                var select1 = document.getElementById('prod-id');

                $("#prod-id").change(function () {

                    var selectedValue = select1.value;
                    addOptionsToSelect2(selectedValue);

                });


            },

            error: function (data) {
                console.log(data)
                toastr.error('Ошибка получения реквизитов получателей. Обновите страницу и повторите попытку')
            }
        });

    });
</script>


{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">


    <div class="row">

        <div class="col">
            <div class="card">

                <div class="card-header">
                    <h5 class="card-title mb-0">Отзывы организации
                        <a href="#" data-bs-toggle="offcanvas"
                           data-bs-target="#off-create-prod"
                           aria-controls="off-create-prod">
                            <i class="bx bxs-plus-square" data-bs-toggle="tooltip"
                               data-bs-offset="0,8"
                               data-bs-placement="top" data-bs-custom-class="tooltip-primary"
                               data-bs-original-title="Добавить">
                            </i>
                        </a>
                        <div class="spinner-border spinner-border-sm text-primary" role="status"
                             id="loading-prods">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h5>
                    <small class="card-subtitle" id="prod-cntr"></small>
                </div>

                <div class="table-responsive">
                    <table class="table" id="review-list" style="display: none;">
                        <thead>
                        <tr>
                            <th style="width: 3%">#ID</th>
                            <th style="width: 10%">Товар</th>
                            <th style="width: 30%">Отзыв</th>
                            <th style="width: 7%">Размер</th>
                            <th style="width: 8%">Соответствие</th>
                            <th style="width: 15%">Медиа</th>
                            <th>Статус</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="mt-3">
    <div class="offcanvas offcanvas-start" id="off-create-prod">

        <div class="offcanvas-header">
            <h5 id="off-create-product-label" class="offcanvas-title">Новый отзыв</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Закрыть"></button>
        </div>

        <div class="offcanvas-body">


            <form id="create-review-form" enctype="multipart/form-data">

                <div class="mb-4 row">

                    <label for="prod-id" class="form-label">Товар</label>
                    <select id="prod-id" class="selectpicker w-100" data-style="btn-default"
                            data-show-subtext="true">
                    </select>

                </div>

                <div class="mb-4 row" id="size-id-div">

                    <label for="size-id" class="form-label">Размер</label>
                    <select id="size-id" class="selectpicker w-100" data-style="btn-default"
                            data-show-subtext="true">
                    </select>

                </div>

                <div class="mb-4 row">
                    <label for="rev-text" class="form-label">Текст отзыва</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Товар очень понравился!" id="rev-text">
                    </div>
                </div>


                <div class="mb-4 row">
                    <label for="rev-text" class="form-label">МЕДИА (JPEG, PNG, MOV | < 50MB)</label>
                    <div class="col">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label">Соответствие размеру</label>
                        <div class="form-check ">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="0" id="smr-1"
                                   checked="">
                            <label class="form-check-label" for="smr-1">Не указывать</label>
                        </div>
                        <div class="form-check mt-1">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="1" id="smr-2">
                            <label class="form-check-label" for="smr-2">Соответствует</label>
                        </div>
                        <div class="form-check mt-1">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="2" id="smr-3">
                            <label class="form-check-label" for="smr-3">Маломерит</label>
                        </div>
                        <div class="form-check mt-1">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="3" id="smr-4">
                            <label class="form-check-label" for="smr-4">Большемерит</label>
                        </div>

                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Добавить</button>

            </form>


        </div>
    </div>
</div>


{% endblock %}