{% extends "!base.html" %}
{% block title %}Товары{% endblock %}

{% block head %}


<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/typeahead-js/typeahead.css') }}"/>
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/apex-charts/apex-charts.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/css/pages/card-analytics.css') }}"/>
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/bootstrap-select/bootstrap-select.css') }}"/>

{% endblock %}


{% block js %}
<script src="{{ url_for('static', path='assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/app-ecommerce-dashboard.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendor/libs/bootstrap-select/bootstrap-select.js') }}"></script>

<script>

    const url = window.location.href;
    var arr = url.split('/')
    var org_id = arr[arr.length - 1]

    function disableProduct(id) {
        if (confirm('Подтвердите удаление товара #' + id)) {
            document.getElementById('page_ldr').style.display = 'block'
            $.ajax({

                url: '/products/disable?product_id=' + id,
                method: 'get',

                success: function (data) {
                    document.getElementById('page_ldr').style.display = 'none'
                    dt_refresh('dt_user_products', '/products/getOwned?org_id=' + org_id)
                    toastr.success('Товар успешно удален')

                },
                error: function (data) {
                    document.getElementById('page_ldr').style.display = 'none'
                    toastr.error('Ошибка удаления товара: ' + data.responseJSON.detail)
                }
            })
        }
    }

    function refreshProduct(id) {
        if (confirm('Подтвердите обновление данных товара #' + id)) {

            document.getElementById('page_ldr').style.display = 'block'
            $.ajax({

                url: '/products/refresh?product_id=' + id,
                method: 'get',

                success: function () {
                    dt_refresh('dt_user_products', '/products/getOwned?org_id=' + org_id)
                    toastr.success('Товар успешно обновлен. Обновление размеров отобразится после обновлении страницы')
                },
                error: function (data) {
                    document.getElementById('page_ldr').style.display = 'none'
                    toastr.error('Ошибка обновления товара: ' + data.responseJSON.detail)
                }
            })
        }
    }


    $(document).ready(function () {

        const url = window.location.href;
        var arr = url.split('/')
        var id = arr[arr.length - 1]
        var modal = ''

        $.ajax({

            url: '/products/getOwned?org_id=' + id,
            method: 'get',

            success: function (data) {

                $('#dt_user_products').DataTable({
                    "data": data,
                    "paging": true,
                    "pageLength": 10,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "searching": true,
                    "ordering": true,

                    columns: [
                        {
                            data: 'id'
                        },
                        {
                            render: function (data, type, row) {

                                var avatar_src = "{{ url_for('static', path='assets/img/avatars/def-avatar.jpg') }}"

                                if (row.media !== null) {
                                    avatar_src = '/storage/get/' + row.media.storage_href
                                }

                                var wb_url = 'https://www.wildberries.ru/catalog/' + row.wb_article + '/detail.aspx'

                                return '' +
                                    '<div class="d-flex justify-content-start align-items-center product-name">' +
                                    '   <div class="avatar-wrapper">' +
                                    '       <div class="avatar avatar me-2 rounded-2 bg-label-secondary">' +
                                    '           <img src="' + avatar_src + '">' +
                                    '       </div>' +
                                    '   </div>' +
                                    '   <div class="d-flex flex-column">' +
                                    '       <h6 class="text-body text-nowrap mb-0"><a target="_blank" href="' + wb_url + '">' + row.wb_title + '</a></h6>' +
                                    '       <small class="text-muted text-truncate d-none d-sm-block">' + row.wb_article + '</small>' +
                                    '   </div>' +
                                    '</div>'
                            }
                        },
                        {
                            data: 'barcode'
                        },
                        {
                            render: function (data, type, row) {
                                var price = ''

                                if (row.sizes.length === 1) {
                                    if (row.sizes[0].wb_size_name == null) {

                                        if (row.sizes[0].wb_in_stock === false) {
                                            price = 'Нет в наличии'

                                        } else {
                                            price = row.sizes[0].wb_price / 100 + ' руб.'
                                        }

                                    }

                                } else {
                                    var trs = ''

                                    $.each(row.sizes, function (i, size) {
                                        var p = null

                                        var bdc = 'success'
                                        var bdt = 'В наличии'

                                        if (size.wb_in_stock === false) {
                                            p = '—'
                                            bdc = 'danger'
                                            bdt = 'Не в наличии'

                                        } else {
                                            p = size.wb_price / 100 + ' руб.'
                                        }

                                        trs = trs + '                        <tr>\n' +
                                            '                            <td>' + size.wb_size_origName + ' (' + size.wb_size_name + ')</td>\n' +
                                            '                            <td>' + p + '</td>\n' +
                                            '                            <td><span class="badge bg-label-' + bdc + '">' + bdt + '</span></td>\n' +
                                            '                        </tr>\n'

                                    })


                                    modal += '<div class="modal fade" id="modalToggle-' + row.id + '" aria-labelledby="modalToggleLabel-' + row.id + '" tabindex="-1" style="display: none;"\n' +
                                        '         aria-hidden="true">\n' +
                                        '        <div class="modal-dialog modal-dialog-centered">\n' +
                                        '            <div class="modal-content">\n' +
                                        '                <div class="modal-header">\n' +
                                        '                    <h5 class="modal-title" id="modalToggleLabel-' + row.id + '">' + row.wb_article + '</h5>\n' +
                                        '                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>\n' +
                                        '                </div>\n' +
                                        '                <div class="modal-body">\n' +
                                        '                  <div class="table-responsive text-nowrap" >' +
                                        '                    <table class="table text-nowrap">\n' +
                                        '                        <thead>\n' +
                                        '                        <tr>\n' +
                                        '                            <th>Размер</th>\n' +
                                        '                            <th>Стоимость</th>\n' +
                                        '                            <th>Наличие</th>\n' +
                                        '                        </tr>\n' +
                                        '                        </thead>\n' +
                                        '                        <tbody class="table-border-bottom-0">\n' + trs +
                                        '                        </tbody>\n' +
                                        '                    </table>\n' +
                                        '                </div>\n</div>' +
                                        '            </div>\n' +
                                        '        </div>\n' +
                                        '    </div>'

                                    price = '<div><a href="##" data-bs-toggle="modal" data-bs-target="#modalToggle-' + row.id + '">Размеров: ' + row.sizes.length + '</a></div>'
                                }

                                return price


                                return '<b>' + row.level + '</b>'
                            }
                        },
                        {
                            render: function (data, type, row) {
                                return '<span class="text-nowrap">' + moment(row.last_update).format('DD.MM.YYYY HH:mm') + '</span>'
                            }
                        },
                        {
                            render: function (data, type, row) {
                                var actions = ''

                                actions += '<a href="javascript:disableProduct(' + row.id + ')"><i class="bx bx-x"></i></a>'
                                actions += '<a href="javascript:refreshProduct(' + row.id + ')"><i class="bx bx-refresh"></i></a>'

                                return actions
                            }
                        },
                    ],
                    "order": [[0, "desc"]]
                });
                document.getElementById('size_modals').innerHTML = modal;
                document.getElementById('prd-ldr').style.display = 'none';
                document.getElementById('prd-div').style.display = 'block';
            },

            error: function (data) {
                toastr.error('Ошибка загрузки товаров: ' + data.responseJSON.detail)
                document.getElementById('loading-members').style.display = 'none';
            }

        });

    });

</script>

<script>

    document.getElementById('create-product-form').addEventListener('submit', function (event) {

        event.preventDefault();

        var submitButton = document.querySelector('button[type="submit"]');

        submitButton.disabled = true

        const wb_url = document.getElementById('wb_url');
        const barcode = document.getElementById('barcode');

        if (wb_url.value.length === 0) {
            toastr.error('Введите ссылку')
            submitButton.disabled = false
            return
        }

        if (barcode.value.length === 0) {
            toastr.error('Введите штрих-код')
            submitButton.disabled = false
            return
        }

        var currentPage = window.location.pathname;
        var parts = currentPage.split('/');
        var org_id = parts[parts.length - 1];


        const currentDomain = window.location.origin;
        const url = new URL('/products/create', currentDomain);
        url.searchParams.append('org_id', org_id);
        url.searchParams.append('wb_url', wb_url.value);
        url.searchParams.append('barcode', barcode.value);
        submitButton.classList.remove('disabled');

        $.ajax({
            url: url,
            method: 'post',
            success: function (data) {
                location.reload()
            },

            error: function (data) {
                console.log(data)
                toastr.error(data.responseJSON.detail)
                submitButton.disabled = false
            }
        });

    });
</script>
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Товары организации
                        <a href="javascript:"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#off-create-prod"
                           aria-controls="off-create-prod">
                            <i class="bx bxs-plus-square"></i>
                        </a>
                        <a href="javascript:var u = '/products/getOwned?org_id=' + org_id; dt_refresh('dt_user_products', u)" id="rb">
                            <i class="bx bx-refresh"></i>
                        </a>
                        <span class="spinner-border spinner-border-sm text-primary" role="status" id="prd-ldr"></span>
                    </h5>
                    <small class="card-subtitle" id="prod-cntr"></small>
                </div>
                <div class="card-body table-responsive" id="prd-div" style="display: none;">
                    <table id="dt_user_products" class="datatables-ajax table table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Товар</th>
                            <th>Баркод</th>
                            <th>Стоимость</th>
                            <th>Обновление</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="size_modals"></div>
<div class="mt-3">
    <div class="offcanvas offcanvas-start" id="off-create-prod">

        <div class="offcanvas-header">
            <h5 id="off-create-product-label" class="offcanvas-title">Новый товар</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Закрыть"></button>
        </div>

        <div class="offcanvas-body">

            <form id="create-product-form">

                <div class="mb-4 row">
                    <label for="wb_url" class="form-label">Ссылка на товар </label>
                    <div class="col">
                        <input class="form-control" type="text"
                               placeholder="wildberries.ru/catalog/000000000/detail.aspx?size=000000000"
                               id="wb_url">
                    </div>
                </div>

                <div class="mb-4 row">
                    <label for="barcode" class="form-label">Barcode (штрих-код) товара</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="0000000" id="barcode">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Добавить</button>

            </form>


        </div>
    </div>
</div>
{% endblock %}