{% extends "!base.html" %}
{% block title %}Отзывы{% endblock %}

{% block head %}


<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/typeahead-js/typeahead.css') }}"/>
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/apex-charts/apex-charts.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/css/pages/card-analytics.css') }}"/>
<link rel="stylesheet"
      href="{{ url_for('static', path='assets/vendor/libs/bootstrap-select/bootstrap-select.css') }}"/>

{% endblock %}


{% block js %}
<script src="{{ url_for('static', path='assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/app-ecommerce-dashboard.js') }}"></script>
<script src="{{ url_for('static', path='assets/vendor/libs/bootstrap-select/bootstrap-select.js') }}"></script>

<!-- GET AND DISABLE REVIEWS -->
<script>

    function cancelReview(id) {
        if (confirm('Подтвердите отмену публикации отзыва #' + id)) {

            $.ajax({

                url: '/reviews/disable?review_id=' + id,
                method: 'get',

                success: function (data) {
                    dt_refresh('dt_user_reviews', '/reviews/getOwned?org_id=' + org_id)
                    toastr.success('Публикация отменена')
                },
                error: function (data) {
                    toastr.error('Ошибка выполнения операции' + data.responseJSON.detail)
                }
            })
        }
    }

    function truncateString(str, maxLength = 15) {
        if (str.length <= maxLength) {
            return str;
        }
        return str.slice(0, maxLength) + "...";
    }

    const url = window.location.href;
    var arr = url.split('/')
    var org_id = arr[arr.length - 1]
    var v_modals = ''

    $.ajax({

        url: '/reviews/getOwned?org_id=' + org_id,
        method: 'get',

        success: function (data) {
            $('#dt_user_reviews').DataTable({
                "data": data,
                "paging": true,
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "searching": true,
                "ordering": true,
                "columns": [
                    {
                        data: 'id'
                    },
                    {
                        render: function (data, type, row) {

                            var avatar_src = "{{ url_for('static', path='assets/img/avatars/def-product.jpg') }}"

                            if (row.product.media !== null) {
                                avatar_src = 'https://storage.yandexcloud.net/greedybear/' + row.product.media
                            }

                            var wb_url = 'https://www.wildberries.ru/catalog/' + row.product.wb_article + '/detail.aspx'

                            return '' +
                                '<div class="d-flex justify-content-start align-items-center product-name">' +
                                '   <div class="avatar-wrapper">' +
                                '       <div class="avatar avatar me-2 rounded-2 bg-label-secondary">' +
                                '           <img src="' + avatar_src + '">' +
                                '       </div>' +
                                '   </div>' +
                                '   <div class="d-flex flex-column">' +
                                '       <h6 class="text-body text-nowrap mb-0"><a target="_blank" href="' + wb_url + '">' + truncateString(row.product.wb_title) + '</a></h6>' +
                                '       <small class="text-muted text-truncate d-none d-sm-block">' + row.product.wb_article + '</small>' +
                                '   </div>' +
                                '</div>'
                        }
                    },
                    {
                        "data": 'text',
                        "render": function (data, type, row) {
                            return data ? data : '—'
                        }
                    },
                    {
                        "data": 'size',
                        "render": function (data, type, row) {
                            var cell = data ? data.wb_size_name : '—'
                            return '<span class="text-nowrap">' + cell + '</span>'
                        }
                    },
                    {
                        "data": 'size',
                        "render": function (data, type, row) {
                            var cell = '—'
                            if (data != null) {
                                if (row.match === 1) {
                                    cell = 'Соответствует'
                                }
                                if (row.match === 2) {
                                    cell = 'Маломерит'
                                }
                                if (row.match === 3) {
                                    cell = 'Большемерит'
                                }
                            }
                            return '<span class="text-nowrap">' + cell + '</span>'
                        }
                    },
                    {
                        "data": 'media',
                        "render": function (data, type, row) {
                            if (data.length !== 0) {

                                var media_list = ''

                                $.each(data, function (i, pic) {
                                    var ftype = pic.media.split('.')[1].toLowerCase()

                                    if (ftype === 'mov' || ftype === 'mp4') {
                                        media_list = media_list + '<a href="##" data-bs-toggle="modal" data-bs-target="#modalToggle-' + pic.id + '">' +
                                            '<div class="avatar-wrapper">' +
                                            '<div class="avatar me-2 rounded-2 bg-label-secondary">' +
                                            '<i class="bx bx-play"></i>' +
                                            '</div></div></a>'

                                        v_modals += '<div class="modal fade" id="modalToggle-' + pic.id + '" aria-labelledby="modalToggleLabel-' + pic.id + '" tabindex="-1" style="display: none;"\n' +
                                            '         aria-hidden="true">\n' +
                                            '        <div class="modal-dialog modal-dialog-centered">\n' +
                                            '            <div class="modal-content">\n' +
                                            '                <div class="modal-header">\n' +
                                            '                    <h5 class="modal-title" id="modalToggleLabel-' + pic.id + '">' + 'Видео' + '</h5>\n' +
                                            '                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>\n' +
                                            '                </div>\n' +
                                            '                <div class="modal-body"><video controls width="100%">\n' +
                                            '  <source src="" />\n' +
                                            '\n' +
                                            '  <source src="https://storage.yandexcloud.net/greedybear/' + pic.media + '" class="rounded-2" />\n' +

                                            '</video></div>' +
                                            '\n' +
                                            '            </div>\n' +
                                            '        </div>\n' +
                                            '    </div>'
                                    } else {

                                        var mu = 'https://storage.yandexcloud.net/greedybear/' + pic.media.split('.')[0] + '.webp'
                                        media_list = media_list + '' +
                                            '<div class="avatar-wrapper">' +
                                            '<div class="avatar me-2 rounded-2 bg-label-secondary">' +
                                            '<a href="'+mu+'" target="_blank"><img src="'+mu+'" class="rounded-2"></a>' +
                                            '</div>\<' +
                                            '/div>'
                                    }

                                })

                                media_list = '<div class="d-flex justify-content-start align-items-center customer-name">' + media_list + '</div>'
                                return media_list
                            }

                            return '—'
                        }
                    },

                    {
                        "data": 'status',
                        "render": function (data, type, row) {
                            var text = 'Не опознан'
                            var color = 'secondary'

                            if (data === 1) {
                                text = 'Новая задача'
                                color = 'info'
                            }

                            if (data === 2) {
                                text = 'В работе'
                                color = 'warning'
                            }

                            if (data === 3) {
                                text = 'Опубликован'
                                color = 'success'
                            }

                            if (data === 4) {
                                text = 'Отменен'
                                color = 'danger'
                            }


                            return '<span class="badge bg-label-' + color + '">' + text + '</span>'
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            var edit = ''

                            if (row.status === 1) {
                                edit += '<a href="javascript:cancelReview(' + row['id'] + ', 5)"><i class="bx bx-x"></i></a>'
                            }
                            return edit
                        }
                    }
                ],
                "order": [[0, "desc"]],
            });

            document.getElementById('prod-cntr').innerText = 'Всего: ' + data.length
            document.getElementById('rvs-ldr').style.display = 'none';
            document.getElementById('rvs-div').style.display = 'block';
            document.getElementById('v-modals').innerHTML = v_modals
        },
        error: function () {

            toastr.error('Ошибка загрузки списка товаров')
            document.getElementById('rvs-ldr').style.display = 'none';
        }

    });


</script>


<!-- CREATE REVIEW -->
<script>
    document.getElementById('create-review-form').addEventListener('submit', function (event) {

        event.preventDefault();

        var formData = new FormData(this);

        var submitButton = document.querySelector('button[type="submit"]');
        submitButton.classList.add('disabled');

        const currentDomain = window.location.origin;
        const url = new URL('/reviews/create', currentDomain);

        const text = document.getElementById('rev-text');

        var prodselect = document.getElementById('prod-id')
        var prodid = prodselect.options[prodselect.selectedIndex].value

        var sizeselect = document.getElementById('size-id')
        var sizeid = sizeselect.options[sizeselect.selectedIndex].value

        if (sizeid != 0) {
            url.searchParams.append('size_id', sizeid);
        }

        var radioButtons = document.querySelectorAll('input[name="default-radio-1"]');

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {

                var mtchid = radioButtons[i].value;
                break;
            }
        }

        if (mtchid != 0) {
            url.searchParams.append('match', mtchid);
        }

        var txt = text.value
        if (txt != '') {
            url.searchParams.append('text', txt);
        }

        url.searchParams.append('product_id', prodid);


        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,

            success: function (data) {
                location.reload()

            },

            error: function (data) {
                toastr.error(data.responseJSON.detail)
                submitButton.classList.remove('disabled');
            }
        });

    });
</script>


<!-- GET PRODS FOR SELECT IN FORM -->
<script>

    var prods = []

    // Функция для добавления опций второго выпадающего списка
    function addOptionsToSelect2(pri) {
        var optionsArr = [];

        for (var i = 0; i < prods.length; i++) {
            if (prods[i].id == pri) {
                optionsArr = prods[i]['sizes'];
                break;
            }
        }

        $("#size-id").selectpicker('destroy');
        $("#size-id").empty();
        $("#size-id").selectpicker("refresh");

        $("#size-id").append($('<option>').text('Без указания').val(0));

        for (var j = 0; j < optionsArr.length; j++) {

            if (optionsArr[j].wb_size_name !== null) {
                var op_txt = optionsArr[j].wb_size_name;
                var op_val = optionsArr[j].id;
                var op_sub = optionsArr[j].wb_size_origName;

                var sizeOP = $('<option>').text(op_txt).attr('data-subtext', op_sub).val(op_val);

                $("#size-id").append(sizeOP);
            }
        }

        $("#size-id").selectpicker('refresh');
    }


    $(document).ready(function () {

        const url = window.location.href;

        var arr = url.split('/')
        var id = arr[arr.length - 1]

        $.ajax({

            url: '/products/getOwned?org_id=' + id,
            method: 'get',

            success: function (data) {
                var selectElement = $('#prod-id');

                prods = data

                $.each(data, function (index, item) {

                    var prod_title = item.wb_title

                    if (prod_title.length >= 25) {
                        prod_title = prod_title.slice(0, 25) + '...'
                    }

                    var optionText = prod_title
                    var optionValue = item.id
                    var optionDataSubtext = item.wb_article


                    var option = $('<option>').text(optionText).attr('data-subtext', optionDataSubtext).val(optionValue);
                    selectElement.append(option);

                    if (index === 0) {
                        addOptionsToSelect2(item.id);
                    }

                });

                selectElement.selectpicker('refresh');

                var select1 = document.getElementById('prod-id');

                $("#prod-id").change(function () {

                    var selectedValue = select1.value;
                    addOptionsToSelect2(selectedValue);

                });


            },

            error: function (data) {
                toastr.error('Ошибка получения товаров: ' + data.responseJSON.detail)
            }
        });

    });
</script>


{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Отзывы
                        <a href="javascript:"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#off-create-prod"
                           aria-controls="off-create-prod">
                            <i class="bx bxs-plus-square"></i>
                        </a>
                        <a href="javascript:var u = '/reviews/getOwned?org_id=' + org_id; dt_refresh('dt_user_reviews', u)"
                           id="rb">
                            <i class="bx bx-refresh"></i>
                        </a>
                        <span class="spinner-border spinner-border-sm text-primary" role="status" id="rvs-ldr"></span>
                    </h5>
                    <small class="card-subtitle" id="prod-cntr"></small>
                </div>
                <div class="card-body table-responsive" id="rvs-div" style="display: none;">
                    <table id="dt_user_reviews" class="datatables-ajax table table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Товар</th>
                            <th>Отзыв</th>
                            <th>Размер</th>
                            <th>Соответствие</th>
                            <th>Медиа</th>
                            <th>Статус</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="v-modals"></div>
<div class="mt-3">
    <div class="offcanvas offcanvas-start" id="off-create-prod">
        <div class="offcanvas-header">
            <h5 id="off-create-product-label" class="offcanvas-title">Новый отзыв</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body">
            <form id="create-review-form" enctype="multipart/form-data">
                <div class="mb-4 row">
                    <label for="prod-id" class="form-label">Товар</label>
                    <select id="prod-id" class="selectpicker w-100" data-style="btn-default"
                            data-show-subtext="true">
                    </select>
                </div>
                <div class="mb-4 row" id="size-id-div">

                    <label for="size-id" class="form-label">Размер</label>
                    <select id="size-id" class="selectpicker w-100" data-style="btn-default"
                            data-show-subtext="true">
                    </select>
                </div>
                <div class="mb-4 row">
                    <label for="rev-text" class="form-label">Текст отзыва</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Товар очень понравился!" id="rev-text">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="rev-text" class="form-label">МЕДИА (JPEG, PNG, MOV | < 50MB)</label>
                    <div class="col">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label">Соответствие размеру</label>
                        <div class="form-check ">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="0" id="smr-1"
                                   checked="">
                            <label class="form-check-label" for="smr-1">Не указывать</label>
                        </div>
                        <div class="form-check mt-1">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="1" id="smr-2">
                            <label class="form-check-label" for="smr-2">Соответствует</label>
                        </div>
                        <div class="form-check mt-1">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="2" id="smr-3">
                            <label class="form-check-label" for="smr-3">Маломерит</label>
                        </div>
                        <div class="form-check mt-1">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="3" id="smr-4">
                            <label class="form-check-label" for="smr-4">Большемерит</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}